.App {
  text-align: center;
}

.HomeBoard {
display: flex;
border: 5px solid black;
width: 60%;
padding: 10px;
justify-content: center;
}

.ForestStyle {
  font-size: 15px;
  border: 5px solid green;
  padding: 10px;
}

.MountainStyle {
  font-size: 15px;
  border: 5px solid gray;
  padding: 10px;
}

.FullGridStyle {
  display: flex;
}

.PersonalSupply{
  padding: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.FlexPersonalSupply {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
