.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: auto;
}

.MainGameStyle {
  border: 2px solid blue;
  width: 100px;
  height: 150px;
}

.GameBoard {
  border: 2px solid black; 
  padding: 5px;
  margin: auto;
  margin-bottom: 10px;
}

.HomeBoard {
display: flex;
flex: 1;
flex-wrap: wrap;
border: 2px solid black;
justify-content: center;
margin: auto;
padding: 5px;
}

.ForestStyle {
  font-size: 15px;
  flex: 1 0 auto;
  width: 100px;
  height: 120px;
  border: 2px solid green;
  padding: 10px;
}

.MountainStyle {
  font-size: 15px;
  flex: 1 0 auto;
  width: 100px;
  height: 120px;
  border: 2px solid gray;
  padding: 10px;
}

.FullGridStyle {
  display: flex;
  margin: auto;
  padding: 2px;
  margin: 2px;
}

.PersonalSupply{
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
}

.FlexPersonalSupply {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 2px;
}
